body {
    width: 100%;
    height: 100%;
}

.mainpage {
    color: whitesmoke;
}

.intro {
    font-family: 'Press Start 2P', cursive;
    font-size: 95px;
    padding-top: 2%;
    text-align: center;
    color: black;
}

@media only screen and (max-width: 768px) {
    .intro {
        font-family: 'Press Start 2P', cursive;
        font-size: 40px;
        padding-top: 10%;
        text-align: center;
        color: black;
    }
}

/*--------------------------- below is social media style ------------------------------*/

.navbar {
    text-align: center;
}

.ins {
    image-rendering: auto;
    width:60px;
    height:60px;
}

.linkedin {
    image-rendering: auto;
    width:60px;
    height:60px;
}

.github {
    image-rendering: auto;
    width:60px;
    height:60px;
}

.hackerrank {
    image-rendering: auto;
    width:60px;
    height:60px;
}

@media only screen and (max-width: 768px) {
    .ins {
        image-rendering: auto;
        width:30px;
        height:30px;
    }
}

@media only screen and (max-width: 768px) {
    .linkedin {
        image-rendering: auto;
        width:30px;
        height:30px;
    }
}

@media only screen and (max-width: 768px) {
    .github {
        image-rendering: auto;
        width:30px;
        height:30px;
    }
}

@media only screen and (max-width: 768px) {
    .hackerrank {
        image-rendering: auto;
        width:30px;
        height:30px;
    }
}

.padding {
    padding-left: 3%;
    padding-right: 3%;
}

/*--------------------------- below is home page pic style ------------------------------*/

.socialmediahurts {
    image-rendering: auto;
    padding-left: 14%;
    padding-top: 5%;
}

.homerinternet {
    image-rendering: auto;
    padding-left: 15%;
}

@media only screen and (max-width: 768px) {
    .socialmediahurts {
        image-rendering: auto;
        padding-left: 17%;
        padding-top: 10%;
        width: 65%;
        height: 65%;
    }
}

@media only screen and (max-width: 768px) {
    .homerinternet {
        image-rendering: auto;
        padding-left: 17%;
        padding-top: 10%;
        width: 65%;
        height: 65%;
    }
}